.container {
    padding: 1.75rem 1.5rem;
    border: 3px solid #1c2137;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;

    max-width: 400px;
    font-family: "Raleway", sans-serif;
    width: 90%;
}
.container h1 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.range-input-control {
    display: flex;
    flex-grow: 1;
}
#length-slider {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    flex-grow: 1;
}
#length-slider::-moz-range-track {
    height: 2px;
    background-color: #353a4f;
    border-radius: 100vmax;
}
#length-slider::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 100vmax;
    background-color: #353a4f;
    position: relative;
}
#length-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
}
#length-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    border: none;
    translate: 0 -45%;
}
#length-slider::-webkit-progress-value {
    background-color: blue;
}
#length-slider::-moz-range-progress {
    background-color: #027cf2;
    height: 2px;
    border-radius: 100vmax;
}
.cell {
    background-color: #161a29;
    padding: 1.25rem 1.25rem;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}
.length-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}
.range-input-control {
    gap: 0.825rem;
    align-items: center;
}
.range-input-control > span {
    font-weight: 600;
}
.length-wrapper > span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
.options-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.options-wrapper > span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
.options-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.option {
    display: flex;
    /* padding: 1.25rem 1.75rem; */
    justify-content: space-between;
}
.option > span {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.switch {
    position: relative;
    width: 45px;
    height: 22px;
}
.switch input {
    display: none;
}
.switch-slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 100vmax;
    transition: background-color 300ms;
}
.switch-slider::before {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: translate 300ms;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.switch input:checked + .switch-slider {
    background-color: #027cf2;
}
.switch input:checked + .switch-slider::before {
    translate: 23px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    cursor: copy;
}
.display span {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
